.container {
  margin-top: 112px;
  margin-bottom: 64px;
}

#full-collection-title{padding-top: 16px;}

.search-container{
  margin: 24px 0px;
}

.art-container{
  display: inline-block;
  position: relative;
  right: 0;
  width: 100%;
  height: 70vh;
  vertical-align: middle;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.art-container::-webkit-scrollbar{
  width: 0 !important
}