@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*{
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  color: white;
  padding: 0;
  margin: 0;
}

.background-image {
    background: url(../public/background-squiggle.png), linear-gradient(30deg, rgba(27, 189, 225, 0.5) 0%, rgba(38, 94, 151, 0.5) 32.64%, rgba(184, 8, 232, 0.5) 92.72%);
    background-blend-mode:hard-light;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 100px;
    width: 100%;
    height: 1400px;
    position: fixed;
    z-index: -1;  
}

/* Header */

header{
  background-color: black;
  font-family: inherit;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  color: inherit;
  justify-content: space-between;
  padding: 0 50px;
}

.big {
  height: 200px;
}

.small {
  height: 112px;
}

.main-nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

header h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 108px;
  padding: 0;
  margin: 0;
}

header a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}

header a:hover {
  color: rgb(185, 185, 185);
}

header button {
  border-radius: 20px;
  background-color: #C64EFF;
  color: white;
  width: 128px;
  height: 40px;
}


/* Footer */

footer {
  background-color: black;
  font-family: inherit;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100vw;
  padding: 0 50px;
  bottom: 0;
  position: fixed;
}

footer div {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  gap: 1vw;
}

footer.clickable :hover {
  cursor: pointer;
}