@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*, *::before, *::after{
  box-sizing: border-box;
}

body {
  background: linear-gradient(30deg, rgba(27, 189, 225, 0.5) 0%, rgba(38, 94, 151, 0.5) 32.64%, rgba(184, 8, 232, 0.5) 92.72%);
  background-blend-mode:hard-light;

  font-family: "Poppins";
  color: white;
  padding: 0;
  margin: 0;
}

footer {
  background-color: black;
  font-family: inherit;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100vw;
  padding: 0 50px;
  bottom: 0;
  position: fixed;
}

footer div {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  gap: 1vw;
}

footer.clickable :hover {
  cursor: pointer;
}