.title{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 50px;
  font-size: 36px;
  font-weight: 400;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.maincontainer{
  position: absolute;
  height: 664px;
  left: 20%;
  right: 20%;
  top: 22%;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  border-radius: 19px;
}

.maincontainer::-webkit-scrollbar{
  width: 0 !important
}