.container{
  margin-top: 112px;
  margin-bottom: 64px;
  height: calc(100vh - 176px);
}

.steps-container{
  width: 55%;
  height: 75%;
  margin: auto;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  border-radius: 19px;
  padding: 0;
}

.steps-container::-webkit-scrollbar{
  width: 0 !important
}

.bold{
  font-weight: bold;
  font-size: 24px;
}